@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Arquivo da folha de estilos de todo o site */


/* Inicio CSS estilo header */

body,
ul {
    margin: 0px;
    padding: 0px;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
    /* font-family: sans-serif; */
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: 400;
    transition: 0.4;
    text-align: center;
    padding: 0 0.4em 0.2em 0.4rem;
}

#menu a:hover {
    color: white;
    font-size: 33px;
    transition: 0.3s;
    border-left: 4px solid #0f0f34;
}

#logo {
    font-size: 1.5rem;
}

#logo img {
    height: 90px;
}

#logo img:hover {
    box-shadow: 2px 2px 4px #cbcbcb;
    transition: 0.3s;
    height: 100px;
}

#header {
    box-sizing: border-box;
    height: 110px;
    padding: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    /* background: #7233cd; */
    background: rgb(15, 15, 52);
    background: linear-gradient(90deg, rgba(15, 15, 52, 1) 0%, rgba(57, 16, 115, 1) 31%, rgba(114, 51, 205, 1) 69%);
    box-shadow: 3px 3px 6px #b1b1b1;
}

#menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

#btn-mobile {
    display: none;
}


/* Fim CSS estilo header */


/*  Inicio Estilo carousel */

#carouselExampleInterval {
    position: block;
    display: flex;
    justify-content: center;
    z-index: 10;
    margin-top: 10px;
    height: auto;
    max-width: 1300px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
}

#carouselExampleInterval .carousel-inner .carousel-item img {
    height: auto;
    box-shadow: 3px 3px 6px gray;
}


/* #carouselExampleInterval {
        position: block;
        display: flex;
        justify-content: center;
        z-index: 10;
        margin-top: 10px;
        height: auto;
        width: 500px;
        margin-left:auto ;
        margin-right:auto ;
     }
     
     #carouselExampleInterval .carousel-inner .carousel-item img {
    
        height: auto;
        box-shadow: 3px 3px 6px  gray;
    
    
     } */


/*  Fim Estilo carousel */


/* Inicio estilo media  mobile */

@media screen and (max-width: 690px) {
    #menu {
        display: block;
        position: absolute;
        width: 15em;
        top: 70px;
        right: 0px;
        background: #7233cd;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        padding-left: 5px;
        visibility: hidden;
        overflow-y: hidden;
    }
    .section-banner-home {
        height: auto !important;
    }
    #menu li {
        padding-top: 30px;
        padding-bottom: 0px;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: hidden;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 3px solid;
        /* Para aumentar ou diminuir a espessura da linha do hamburguer  */
        width: 35px;
        /* Para alterar a largura do hamburger */
        color: #0f0f34;
        /* Para alterar a cor do hamburger */
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 35px;
        /* Altera a largura do hamburger, juntamente com o width anterior */
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        /* Altera o espaçamento entre as linhas do hamburger */
        position: relative;
        border-top: 3px solid;
        /* Para aumentar ou diminuir a espessura da linha do Hamburger, juntamente com o border-top anterior */
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -6px;
    }
}


/* Fim estilo media  mobile */


/* Para aplicar estilos na CLASS utilize o [ . ] antes do objeto */


/* Para aplicar estilos no ID utilize A [ # ] antes do objeto */


/*  Inicio estilo Banner Home */

.section-banner-home {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 50px;
    background-color: #0f0f34;
    box-shadow: 3px 3px 6px #b1b1b1
}

.section-banner-home img {
    height: 100%;
    width: 67%;
    display: block;
    margin: auto;
}

.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 25px;
}

.section-banner-home .texto-banner h1 {
    font-size: 35px;
    width: 60%;
    /* Width = largura*/
    font-weight: 500;
    /* Espessura do texto*/
    padding-bottom: 20px;
    /* Margem interna em baixo */
    color: white;
}

.section-banner-home .texto-banner p {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: justify;
}

.section-banner-home .texto-banner a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #7233cd;
    padding: 4px 14px;
    font-size: 15px;
    transition: 0.3s;
}

.section-banner-home .texto-banner a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #ffffff7a;
    font-size: 18px;
    font-weight: bold;
}


/* Fim estilo Banner Home */


/* Inicio estilo Destaque */

.destaque h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.destaque p {
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}

.destaque figcaption {
    font-size: 13px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.destaque #saiba-mais {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #e7e7e7;
    font-size: 18px;
    font-weight: bold;
    background: #0f0f34;
    margin: 30px 0px;
    width: 25%;
}

.destaque #saiba-mais:hover {
    font-size: 25px;
    color: white;
    background: #7233cd;
    text-decoration: none;
    font-weight: bold;
    margin: 30px 0px;
    display: flex;
    transition: 0.3s;
}

.destaque .col-6 img:hover {
    box-shadow: 3px 3px 6px #cbcbcb;
    transition: 0.3s;
}


/* Fim estilo Destaque */


/* Inicio Estilo Novidades */

.novidades {
    background: #0f0f34;
}

.novidades .text-body {
    width: 80%;
    margin: 70px auto;
}

.novidades h2 {
    color: #ffffff;
    font-size: 26px;
    width: 70%;
}

.novidades p {
    color: #ffffff;
}

.novidades a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #e7e7e7;
    font-size: 18px;
    font-weight: bold;
    background: #7233cd;
    margin: 30px 0px;
    width: 25%;
}

.novidades a:hover {
    font-size: 23px;
    color: white;
    background: #ed174b;
    text-decoration: none;
    font-weight: bold;
    margin: 30px 0px;
    display: flex;
    transition: 0.3s;
    width: 25%;
}

.destaque img {
    padding-top: 10px;
}


/* Fim Estilo Novidades */


/* Inicio Estilo Galeria */

.galeria {
    margin: 60px auto 20px;
    /* Quando tivermos 4 valores no margin = top/ right/ bottom / left>                 Exemplo: margin: 60px 60px 60px 60px; */
    /* Quando tivermos 3 valores será = top / right and left / bottom>                  exemplo; margin: 60px auto 60px; */
    /* Quando tivermos 2 valores será = top and botton / right and left>                exemplo: margin: 60px 30px; */
    /* Quando tivermos 1 valor será = top, botton, right and left serão identicos>      exemplo: margin: 60px; */
    /* Essa regra também se aplica ao padding */
}

.galeria .container {
    margin-left: 11%;
}

.galeria h2 {
    text-align: center;
    font-size: 24px;
}

.galeria .p {
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}

.galeria .gallery {
    width: 30%;
    margin: 14px auto 50px;
}

.galeria .gallery img {
    width: 80%;
    height: 80%;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    display: block;
}

.galeria .gallery img:hover {
    -webkit-transform: scale(1.9);
    transform: scale(1.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Fim Estilo Galeria */


/* Inicio Whatsapp */

.whatsapp {
    position: fixed;
    top: 400px;
    right: 20px;
    z-index: 200;
}


/* Inicio efeito pulse */

.whatsapp .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        -webkit-filter: brightness(110%);
    }
    100% {
        -webkit-transform: scale(1.1);
        -webkit-filter: brightness(110%);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: brightness(100%);
    }
    100% {
        transform: scale(1.1);
        filter: brightness(110%);
    }
}


/* Fim efeito pulse */


/* fim Whatsapp */


/* Inicio Instagram */

.instagram {
    position: fixed;
    top: 400px;
    left: 20px;
    z-index: 200;
}

.instagram .pulse {
    animation: pulse 0.7s infinite;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
    animation-direction: alternate;
    -webkit-animation-name: pulse;
    animation-name: pulse;
}


/* fim Instagram */


/* Incio Estilo footer */

.rodape {
    padding: 50px 0px 0px 0px;
    height: auto;
    color: white;
    background: rgb(15, 15, 52);
    background: linear-gradient(90deg, rgba(15, 15, 52, 1) 0%, rgba(57, 16, 115, 1) 31%, rgba(114, 51, 205, 1) 69%);
}

.rodape .container #logo-rodape {
    padding-top: 47px;
}

.rodape .container #logo-rodape img {
    height: 50%;
    width: 50%;
    transition: transform .3s;
    display: block;
}

.rodape .container #logo-rodape img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.rodape .info-contato p {
    margin: 0;
}

.rodape .Linkfooter {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    margin-left: 0.7rem;
}

.rodape .Linkfooter:hover {
    font-weight: bold;
}

.rodape .redes-sociais {
    display: inline-block;
}

.rodape .redes-sociais img {
    width: 50px;
    height: 50px;
    padding-left: 0;
    margin-left: 0.8rem;
    transition: transform .3s;
    border-radius: 15px;
    /* Border-radius== Arredondando as extremidades da forma */
}

.rodape .redes-sociais img:hover {
    z-index: 1;
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);
}

.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}


/* Fim Estilo footer */


/* Inicio Estilo Videos */

.embed-container {
    position: relative;
    padding-bottom: 0;
    height: auto;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
}

.embed-container p {
    text-align: center;
    font-size: 20px;
}

.embed-container h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.embed-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    border-radius: 1em;
    box-shadow: gray 0.5em 0.5em 0.3em;
    transition: transform .3s;
    display: flex;
}

.embed-container iframe:hover {
    flex: 1;
    z-index: 1;
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}

.embed-container .col-lg-4 {
    margin-top: 30px;
}

.embed-container .col-lg-6 {
    margin-top: 30px;
}


/* Fim Estilo Videos */


/* Inicio estilo contato */

.contact {
    padding: 70px 0;
    background: #fb5c73;
}

.section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid #ffffff;
    padding-bottom: 10px;
    display: inline-block;
}

.section-title p {
    color: #e8e8e8;
    margin-bottom: 30px;
}

.contact input,
.contact textarea {
    background: #fafafa;
}

.contact textarea {
    min-height: 200px;
    max-width: 100%;
}

.contact .map {
    overflow: hidden;
    border-radius: 4px;
    height: 70%;
}


/* Inicio estilo marketing place */

.market-place {
    height: 180px;
    width: 100%;
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.market-place img {
    height: 160px;
    width: 100%;
}


/* fim estilo marketing place */


/* Fim estilo contato */


/* Inicio estilo produtos */

.col-lg-3 .card {
    border-style: none;
    border: 0px;
    min-height: 300px;
}

.text-center .mb-5 {
    margin-top: 20px;
}

.card img {
    /* height: auto; */
    width: auto;
    max-height: 400px;
}

.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.card .bg-image img {
    height: 300px;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.hover-overlay .mask {
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hover-overlay .mask:hover {
    opacity: 1;
}

.card-body .btn {
    background-color: #ed174b;
    /* Cor do botão */
    color: white;
    /* Cor do texto botão */
    font-weight: 400;
    /* Espessura do botão */
    border: none;
    outline: 0px solid transparent;
}


/* Fim estilo produtos */