@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* Arquivo da folha de estilos de todo o site */
/* Inicio CSS estilo header */
body, ul {
    margin: 0px;
    padding: 0px;
 
}
#menu a{ 
    color: #ffffff  ;
    text-decoration: none;
    /* font-family: sans-serif; */
    font-family: 'Anton', sans-serif;
    font-size: 25px;
    font-weight: 400;
    transition: 0.4;
    text-align: center;
    padding: 0 0.4em 0.2em 0.4rem;


}
#menu a:hover{
    color: white;
    font-size: 33px;
    transition: 0.3s;
    border-left: 4px solid #0f0f34;
}
#logo{
    font-size: 1.5rem;
}
#logo img{
    height: 90px;
}
#logo img:hover{
    box-shadow: 2px 2px 4px #cbcbcb;
    transition: 0.3s;
    height: 100px;
}
#header{
    box-sizing: border-box;
    height: 110px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #7233cd; */
    background: rgb(15,15,52);
background: linear-gradient(90deg, rgba(15,15,52,1) 0%, rgba(57,16,115,1) 31%, rgba(114,51,205,1) 69%);
    box-shadow: 3px 3px 6px  #b1b1b1;
    
}
#menu{

    display: flex;
    list-style: none;
    gap: 1.5rem;
}   
#btn-mobile{
    display: none;
}
/* Fim CSS estilo header */


/*  Inicio Estilo carousel */

#carouselExampleInterval{
    position: relative;
    z-index: 10;
    padding-top: 10px;
    box-shadow: 3px 3px 6px  #b1b1b1;
    width: 1000px;
    height: 500px;
}



/*  Fim Estilo carousel */