.head {
    background-color: #7209e9;
    width: 100%;
    position: fixed;
    height: 35px;
    z-index: 50;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.0em;
    padding-top: 0.6%;  
  }
.logo-volei {
   height: 50px;
   position: center;
  }